extends layout
block content
    .navbar
        .navbar-inner
            
            ul.nav
                li
                    a(href="#config", data-toggle="modal").dropdown-toggle Settings                    

    #config.modal.hide.fade(tabindex=-1)
        .modal-header
            button(type="button", aria-hidden="true", data-dismiss="modal").close &times;                
            h3 {{name}} Settings

        .modal-body
            .tab-pane
                ul.nav.nav-tabs
                    li.active
                        a(href="#serial", data-toggle='tab') Serial
                    li
                        a(href="#devices", data-toggle='tab') Devices 
                    li
                        a(href='#network', data-toggle='tab') Network
                .tab-content
                    #serial.tab-pane.active
                        form
                            label Port:
                            input(type="text", ng-model="config.serial.port", required)
                            label Speed:
                            input(type="number", ng-model="config.serial.baudrate", required)                        
                    #devices.tab-pane
                        form
                            label Local folder:
                            input(type="text", ng-model="config.devices.local", required)
                            label Definitions Url:
                            input(type="text", ng-model="config.devices.remote", required).span5
                            label Update on start:    
                                input(type="checkbox", ng-model="config.devices.update")
                    #network.tab-pane
                        form
                            label Channel:
                            input(type="number", ng-model="config.network.channel", required)
                            label Network:
                            input(type="text", ng-model="config.network.syncWord", required)
                            label Modem address:
                            input(type="number", ng-model="config.network.address", required)
                            label Security:
                            input(type="number", ng-model="config.network.security"), required)
                    //- tt config = {{config}}

        .modal-footer
            a(href="#", data-dismiss="modal").btn Close  
            a(href="#", ng-click="saveConfig()").btn.btn-primary Save changes          

    #moteDetails(modal="moteDetailsOpen")
        .modal-header
            button(type="button", aria-hidden="true", data-dismiss="modal").close &times;                
            h3 Mote Details {{essai}}

        .modal-body
            legend Standard registers
            .row
                .span4
                    label Product Code: {{mote.productCode}}
                    //- label Hardware Version: {{mote.hardwareVersion}}
                    //- label Firmware Version: {{mote.firmwareVersion}}
                    label State: {{mote.state.str}}
                    label Last Status at: {{renderDate(mote.lastStatusTime)}}
                    label Location:
                    input(type='text', ng-model='mote.location')
                    label Address:
                    input(type='number', ng-model='mote.address')
                .span4
                    label Channel:
                    input(type='number', ng-model='mote.channel')
                    label Network:
                    input(type='text', ng-model='mote.network')
                    label Transmit Interval (s):
                    input(type='number', ng-model='mote.txInterval')
                    //- | {{mote}}                
                
        .modal-footer
            a(href="#", ng-click='closeMoteDetails()').btn Close  
            a(href="#", ng-click='saveMoteDetails(mote)').btn.btn-primary Save changes      

    .container
        h1 Swap Gateway
        hr
        .row
            .span6
                h3 Stamps
                #motes
                    ul
                        li(ng-repeat="mote in motes") {{mote.address}}: 
                            a(ng-click="openMoteDetails(mote)")
                                b{{mote.location}}
                            ul
                                li(ng-repeat="reg in getDevice(mote).regularRegisters") {{reg.name}}
                                    ul
                                        li(ng-repeat="ep in reg.endPoints") {{ep.name}}
                                            span.pull-right {{mote[ep.name]}}
            .span6
                h3 Network Events
                #events 
                    div(ng-repeat="se in swapEvents") 
                        //- span.label.label-warning warning
                        | {{se.text}}
                        //- span().label.label-warning warn                        
                        span.pull-right {{renderDate(se.time)}}
        .row
            .span12
                h3 Last Packets
                #packets
                    div(ng-repeat="packet in packets") {{packet}} 
                        span.pull-right {{renderDate(packet.time)}}
                .pull-right {{packets.length}} packets
