extends layout
block content
    .navbar
        .navbar-inner
            
            ul.nav
                li
                    a(href="#config", data-toggle="modal").dropdown-toggle Settings                    

    #config.modal.hide.fade(tabindex=-1)
        .modal-header
            button(type="button", aria-hidden="true", data-dismiss="modal").close &times;                
            h3 {{name}} Settings

        .modal-body
            .tab-pane
                ul.nav.nav-tabs
                    li.active
                        a(href="#serial", data-toggle='tab') Serial
                    li
                        a(href="#devices", data-toggle='tab') Devices 
                    li
                        a(href='#network', data-toggle='tab') Network
                .tab-content
                    #serial.tab-pane.active
                        form
                            label Port:
                            input(type="text", ng-model="config.serial.port", required)
                            label Speed:
                            input(type="number", ng-model="config.serial.baudrate", required)                        
                    #devices.tab-pane
                        form
                            label Local folder:
                            input(type="text", ng-model="config.devices.local", required)
                            label Definitions Url:
                            input(type="text", ng-model="config.devices.remote", required).span5
                            label Update on start:    
                                input(type="checkbox", ng-model="config.devices.update")
                    #network.tab-pane
                        form
                            label Channel:
                            input(type="number", ng-model="config.network.channel", required)
                            label Network:
                            input(type="text", ng-model="config.network.syncWord", required)
                            label Modem address:
                            input(type="number", ng-model="config.network.address", required)
                            label Security:
                            input(type="number", ng-model="config.network.security"), required)
                    //- tt config = {{config}}

        .modal-footer
            a(href="#", ng-click="saveConfig()").btn.btn-success Save changes  
            a(href="#", data-dismiss="modal").btn Close      

    .container
        h1 Swap Gateway
        .row
            .span6
                h3 Stamps
                #motes
                    div(ng-repeat="mote in motes") {{mote}}
            .span6
                h3 Network Events
                #events 
                    div(ng-repeat="event in events") {{event}}
        .row
            .span12
                h3 Last Packets
                #packets
                    div(ng-repeat="packet in packets") {{packet}}    